@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/container-queries";

/* Restoring class-based dark mode so it doesn't auto-trigger based on OS */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-primary: #19203d;
    --color-secondary: #62C4C9;
    --color-accent: #22d3ee;
    --color-background-light: #F2F4F6;
    --color-background-dark: #0f1326;
    --color-text-light: #333333;
    --color-text-dark: #f3f4f6;
    --color-cyan-primary: #22d3ee;
    --color-new-bg-dark: #19203d;

    --font-display: 'Montserrat', sans-serif;
    --font-body: 'Inter', 'Open Sans', 'sans-serif';
    --font-serif: 'Playfair Display', serif;

    --radius-custom: 60px;

    --animate-spin-slow: spin-slow 20s linear infinite;
    --animate-scroll: scroll-down 2s ease-in-out infinite;
    --animate-pulse-slow: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    --animate-float: float 6s ease-in-out infinite;
}

@keyframes scroll-down {

    0%,
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }

    50% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}